{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'map/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Londri Mobi</title>
</head>
<body>
    <!-- Barra de navegação -->
    <div class="main">
        <a href="{% url 'map:logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Sair</a>
        <form id="logout-form" action="{% url 'map:logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
        {% if rents %}
        <div class="alugueis-ativos">
            <h3>Aluguéis Ativos:</h3>
            {% for rent in rents %}
                <div class="aluguel">
                    <p>Você alugou uma bicicleta na estação {{ rent.station.location }}.</p>
                    <p>Por {{ rent.duration }} minutos.</p>
                    <p>Início do aluguel: {{ rent.start_time|date:"d/m/Y H:i" }}</p>
                    <p>Fim do aluguel: {{ rent.end_time|date:"d/m/Y H:i" }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Você não tem nenhum aluguel ativo no momento.</p>
    {% endif %}
    
    </div>

    <!-- Container principal -->
    <div class="content-wrapper">
        <!-- Container para o Mapa -->
        <div class="map-wrapper">
            <div id="map-container">
                {% if map_html %}
                    {{ map_html|safe }}
                {% else %}
                    <p>O mapa não pôde ser carregado, atualize a página.</p>
                {% endif %}
            </div>
        </div>

        <!-- Seção de Locais -->
        <div class="locations">
            <h2>Pontos de Aluguel de Bicicletas</h2>

            <form action="{% url "map:redirect" %}" method="post">
            {% csrf_token %}
            <div class="custom-select" style="width:94%;">
                <select name="loc" id="loc" onchange="redirectToRentPage()">
                    <option value="">Selecione um local</option>
                    <option value="catuai">Catuaí</option>
                    <option value="lago">Lago 2</option>
                    <option value="centro">Centro</option>
                    <option value="jardim">Jardim Botânico</option>
                    <option value="calcadao">Calçadão</option>
                </select>
                <input type="submit" value="Confirmar">
            </form>
            </div>
        </div>
    </div>

    <script src="{% static 'map/js/index.js' %}"></script>
</body>
</html>
