{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'map/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Londri Mobi</title>
</head>
<body>
    <h1>Londri Mobi</h1>
    {% if request.session.username %}
        <h1>Bem-vindo, {{ request.session.username }}!</h1>
    {% else %}
        <h1>Bem-vindo, visitante!</h1>
    {% endif %}
    <a href="{% url 'map:logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Sair</a>
    <form id="logout-form" action="{% url 'map:logout' %}" method="post" style="display: none;">
        {% csrf_token %}
    </form>    
    <script src="{% static "map/js/index.js" %}"></script>
</body>
</html>