{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'map/css/rent.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Londri Mobi</title>
</head>
<body>
    <nav>
        <a href="javascript:history.back()">< Voltar</a>
        {% if context %}
        <h1 style="text-align: center;">Local: {{ context }} 📍</h1>
        {% endif %}
    </nav>
    <div class="imagem">
        <img src="{% static 'map/images/bicicleta.webp' %}" width="75%" alt="Bicicletas para Alugar">
    </div>
    <div class="info">
        <h3>Bicicleta</h3>
        <p>R$2,50 a cada 30 minutos</p>
    </div>
    <div class="values">
        <form action="{% url 'map:rent' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Tempo que deseja alugar:</legend>
                <input type="hidden" name="location" value="{{ context }}">
                <div>
                    <input type="radio" id="30" name="tempo" value="30" checked />
                    <label for="30">30min</label>
                </div>
    
                <div>
                    <input type="radio" id="60" name="tempo" value="60" />
                    <label for="60">1 hora</label>
                </div>
    
                <div>
                    <input type="radio" id="90" name="tempo" value="90" />
                    <label for="130">1h30min</label>
                </div>
    
                <div>
                    <input type="radio" id="120" name="tempo" value="120" />
                    <label for="120">2 horas</label>
                </div>
                <div>
                    <input type="submit" class="submit" value="Confirmar">
                </div>
            </fieldset>
        </form>
    </div>    
<script src="{% static 'map/js/rent.js' %}"></script>
</body>
</html>