* {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
}

body {
    background: linear-gradient(0deg, rgba(219, 234, 240, 1) 0%, rgba(70, 118, 140, 1) 100%);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position: center;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

.main a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main a:hover{
    background-color: rgb(27, 26, 26);
}

.container_aluguel{
    background-color: antiquewhite;
}